template(name='login')

	form
		input.data-user-username(type='text' placeholder='username' required value='demo')
		input.data-user-password(type='password' placeholder='password' required value='demo')
		input(type='submit' value='login')
		input.method-user-register(type='button' value='register')
