#home
	padding 30px

.vis-timeline
	border 0 !important

.vis-even
	border none !important

.vis-odd
	border none !important
	background #fafafa

.vis-foreground .vis-group
	border none !important

	&::before
		content ''
		display block
		position relative
		top 38%
		border-bottom 4px solid #C5B96B
		opacity 1

.vis-panel .vis-left
	width 200px !important

.vis-item
	// border none !important
	color #C5B96B !important
	border-color #ddd !important
	background transparent !important
	border 0 !important

.vis-item.vis-box
	border 0

.vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top, .vis-panel.vis-bottom
	border 0 !important

.vis-panel.vis-left
	text-align right
	padding 0 20px

.vis-panel.vis-top
	border-bottom 1px solid #C5B96B !important