#home
	padding 30px

.vis-even
	border none !important

.vis-odd
	border none !important
	background #fafafa

.vis-foreground .vis-group
	border none !important

	&::before
		content ''
		display block
		position relative
		top 38%
		border-bottom 4px solid #C5B96B
		opacity 1

.vis-panel .vis-left
	width 200px !important

.vis-item
	// border none !important
	color #C5B96B !important
	border-color #ddd
	background transparent !important

.vis-item.vis-box
	border 0